<div class="container" (click)="hideBottom()">
    <div class="left">
        <div class="hero_items">
            <h1 *ngFor="let p of projects" [ngClass]="selectedProject?.title==p.title?'project_selected':''"  (click)="showProject($event, p)">{{p.title}}</h1>
        </div>
    </div>

    <div class="right">
        <div class="project_items">
            <app-project [project]="selectedProject">{{selectedProject?.title}}</app-project>
        </div>
    </div>       

    
</div>
<div class="nav">
    <ul>
        <li>
            about
        </li>
        <li>
            contact
        </li>
    </ul>
</div>